<h1>Add Supplier</h1>
<form method="POST" action="/suppliers">

      <label for="name"> Name: </label>
      <input type="text" name="name" id="name"/>
      <input type="submit" value="Add Supplier"/>
  
</form>
