<h1>Add Supplier</h1>
<form method="POST" action="/suppliers">
  <div class="css-form-wrapper">

    <div class="form-el">
      <label for="name"> Name: </label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Add Supplier"/>
    </div>

  </div>
</form>
