<!-- <p> Supplier Name: <%= @supplier.name %></p>

<a href="/suppliers/> <%= @supplier.id %>/edit"> Edit supplier </a>

<form action="/suppliers/<%= supplier.id %>/delete" method="post" >
<input type="submit" value="Delete supplier">
</form> -->
