#red {
  color: red;
}
#orange {
  color: orange;
}
#green {
  color: green;
}

h1,h2,h4 {
  color: #37474F;
  font-family: "Georgia", "Verdana", "Courier", Arial;
  text-align: center;
}

body {
  background-color: white;
  font-family: "Georgia", "Verdana", "Courier", Arial;
  font-size: 16px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #37474F;
  text-align: left;
  font-weight: bold;
}

p {
  color: #37474F;
  text-align: left;
  font-weight: bold;
}

.linktitle {
  text-align: left;
  color: #37474F;
}

/* .listpart {
  color: #1A237E;
  font-weight: 200;
} */
