.flex--row {
  flex-direction: row;
}
#red {
  color: red;
}
#orange {
  color: orange;
}
#green {
  color: green;
}
#content {
  padding-left: 25px;
}

main {
  padding: 25px;
}

h1,h2,h4 {
  color: #1A237E;
  font-family: "Georgia", "Verdana", "Courier", Arial;
  text-align: center;
}

body {
  background: black url("chapman.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;

  color: #1A237E;
  font-family: "Georgia", "Verdana", "Courier", Arial;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-weight: bold;
}

p {
  color:#1A237E;
  text-align: left;
  font-weight: bold;
}

.linktitle {
  color: #1A237E;
  text-align: left;
}

td, th {
  text-align: left;
}

td {
  padding: 10px 20px 0px 0px;
  border-bottom: 1px solid #9E9E9E;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid #9E9E9E;
}

table {
  border-collapse: collapse;
}

input[type="submit"] {
  text-transform: uppercase;
}

select {
  width 150px
  padding: 5 px 35px 5px 5px;
  margin: 15px 0;
  font-size: 0.8em;
  -webkit-appearance: none;
  border: 1px solid #9E9E9E;
  display: block;
}
