#red {
  color: red;
}
#orange {
  color: orange;
}
#green {
  color: green;
}

body {
  background-image: url("guitar.gif");
  background-repeat: no-repeat;
  background-color: white;
}

h1,h2 {
  color: silver;
}
