<h1>Add Product</h1>
<form method="POST" action="/products">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="model">Model:</label>
      <input type="text" name="model" id="model"/>
    </div>

    <div class="form-el">
      <label for="description">Description:</label>
      <input type="text" name="description" id="description"/>
    </div>

    <div class="form-el">
      <label for="buy_price">Wholesale Price:</label>
      <input type="text" name="buy_price" id="buy_price"/>
    </div>

    <div class="form-el">
      <label for="sell_price">Retail Price:</label>
      <input type="text" name="sell_price" id="sell_price"/>
    </div>

    <div class="form-el">
      <label for="quantity">Quantity:</label>
      <input type="text" name="quantity" id="quantity"/>
    </div>

    <label for="supplier_id">Select a supplier:</label>
    <select class="supplier_id" name="supplier_id">
      <% for supplier in @suppliers %>
      <option value="<%= supplier.id %>"><%= supplier.name %></option>
      <% end %>
    </select>

    <input type="submit" value="Add New Product To Stock Inventory"/>
    </div>

  </div>
</form>
